<%
searchable = !brand.searchable_options.empty?
searching = searchable && !review_option_filter.empty?
%>
<%= content_tag :div, class: "menu menu--margin #{'menu--no_search' unless searchable}", data: {search_url: ajax_path(aloading: '.page', except: [:sort, :photo, :query, :page])} do %>
  <ul class="menu__list">
    <% unless widget.gallery_style? %>
      <li class="menu__item group-container group-container--no_toggle_btn">
        <%= content_tag :a, t('reviews.top_menu.show_photo_reviews'), class: "toggle_button search_trigger search_field #{'active' if photo}", data: {key: 'photo'} %>
      </li>
    <% end %>
    <li class="menu__item sort-container">
      <%= select_tag :sort, options_for_select(ReviewSort.collection(review_sort_types), @review_sort), class: 'select2 menu__select search_trigger search_field' %>
    </li>
  </ul>
<% end %>
<div class="review_options_search_container">
  <%= render 'reviews/review_option_search' %>
</div>
